<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bpmnpl_variability -->
      <package
            uri="http://www.example.org/bpmnpl_variability"
            class="bpmnpl_variability.Bpmnpl_variabilityPackage"
            genModel="model/bpmnpl_variability.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bpmnpl_variability -->
      <package
            uri="http://www.example.org/bpmn"
            class="bpmn.BpmnPackage"
            genModel="model/bpmnpl_variability.genmodel"/>
   </extension>

</plugin>
