<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.m2m.atl.bpmnplvar2pnplvar.handlers.TransformVarHandler"
            commandId="org.eclipse.m2m.atl.bpmnplvar2pnplvar.commands.TransformVarCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.m2m.atl.bpmnplvar2pnplvar.commands.TransformVarCommand"
               label="ZZZZZZZZZZZZZZZZZZZZ"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="bpmnpl_variability">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
